<ion-view view-title="usertable">
  <ion-content>
 <div class=" top-header padding">
      <div class="logo text-center">
        <!-- <img src="img/logo.png" alt=""> -->
        <h1>logo</h1>
      </div>
      <div class="bg-white user-detail">
        <label>User Id</label>
        <div>
        <label class="item item-input">
            <input type="text" placeholder="Enter user id">
          </label>
          <button class="button button-full button-calm" ng-click="showConfirm()">
            submit
          </button>
        </div>
        <div>
          <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Bank Name</th>
                <th scope="col">Amount</th>
             </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Andhra Bank</td>
                <td>600</td>

              </tr>
              <tr>
                <th scope="row">2</th>
                <td>SBI</td>
                <td>900</td>

              </tr>
              <tr>
                <th scope="row">3</th>
                <td>HDFC</td>
                <td>6000000</td>
             </tr>
              <tr>
                <th scope="row">3</th>
                <td>HDFC</td>
                <td>6000000</td>
             </tr>
              <tr>
                <th scope="row">3</th>
                <td>HDFC</td>
                <td>6000000</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>HDFC</td>
                <td>6000000</td>
              </tr>
              <tr>
                <thead class="light-gray">
                  <th scope="col" colspan="2" class="text-left">Total Amount </th>
                  <th scope="col">2000678904560</th>
                </thead>
              </tr>
            </tbody>
          </table>
          <!-- <div class="tabe-content">
            <table>
              <tr>
                <th class="text-left">Bank Name</th>
                <th class="text-right"> Amount</th>
              </tr>
              <tr>
                <td>andhra</td>
                <td class="text-right">300</td>
              </tr>
              <tr>
                <td>andhra</td>
                <td class="text-right">300</td>
              </tr>
              <tr>
                <td>andhra</td>
                <td class="text-right">300</td>
              </tr>
              <tr>
                <th class="text-left">Total Amount</th>
                <td class="text-right">300</td>
              </tr>
            </table>
          </div> -->
        </div>

      </div>
    </div>

  </ion-content>
</ion-view>
